body{
    
    font-family: "Libre Baskerville", serif;
}

h1{

    font-size: 400%;
    color: white;
    text-transform: uppercase;
    margin-left: 450px;
    
}

*{

    background-color: black;

}

p{

    color: white;
    margin-left: 650px;


}
img{

    width: 1000px;

    margin-top: 75px;

    margin-left: 400px;

    border: 5px solid white;

}
