.naslov{

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 3rem;
  

}
.podnaslov{

    font-family: 'Roboto', sans-serif;
    color: #4CAF50;

}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ECEFF1;
}

.prvi{

    font-size: 16px;
    color: #37474F;

}

.drugi{

    font-size: 18px;
    color: #546E7A;

}

.treci{

    font-size: 20px;
    color: #78909C;

}
.highlight{

    color: #FFC107;

}

#main-title{

    font-size: 4rem;

}

.l1{
    list-style-type: square;
}
.l3{
    list-style-type: circle;
}
.l2{
    list-style-type: georgian;
}
